.disjuntor {
    position: absolute;
    cursor: grab;
    z-index: 10; /* Garante prioridade no clique */
    transition: box-shadow 0.3s ease;
}

.disjuntor:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.disjuntor rect {
    fill: none; /* Remove qualquer fundo direto do SVG */
    stroke: gray; /* Borda cinza */
    stroke-width: 1px; /* Menos espessa */
    rx: 3px; /* Arredondamento menor */
    ry: 3px; /* Arredondamento menor */
}

/* Define o preenchimento diretamente no estado */
.disjuntor-falha rect {
    fill: yellow;
}

.disjuntor-aberto rect {
    fill: lightgreen;
}

.disjuntor-fechado rect {
    fill: red;
}

.disjuntor-inativo rect {
    fill: gray;
}

.disjuntor-edicao rect {
    fill: lightgray; /* Cor para modo Edição */
}

.disjuntor text {
    font-size: 10px;
    text-anchor: middle;
    pointer-events: none;
    fill: black; /* Texto visível */
}
